.hero-img1{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img1::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fHByb2dyYW1taW5nJTIwaG9yaXpvbnRhbHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img1 h1{
    font-size: 3rem;
    color: yellow;
}
.hero-img1 p{
    font-size: 1.8rem;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .hero-img1 h1{
        font-size: 2rem;
    }
}